.header-back-button-row {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}

.game-title {
    color: #2a1c41;
    margin-bottom: .5rem;
}

.game-title-no-details {
    font-size: 1.3rem;
    font-weight: bold;
    color: #2a1c41;
    margin-left: .75rem;
}

.game-poster {
    width: 240px;
    height: 240px;
}

.game-metadata {
    color: rgba(0,0,0,.4);
    margin-bottom: .05rem;
}

.game-summary {
    font-size: 1.15rem;
    margin-top: .5rem;
}